# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files


# NPM Directory
node_modules


# Build Directory
dist


# Build Files
.tmp
.sass-cache

# Bower Directory
app/bower_components


# OS or Editor folders
*.log
.DS_Store
Thumbs.db
.cache

# Misc
archive

