// ==========================================================================
// Modifiers
//
// Not to be confused with 'helpers'.
// Modifiers should only be used within the Mark-Up
// Single Responsibilty Classes
//
// [1] Images
// [2] Text Related
// [3] Borders
// [4] Layout Helpers
// ==========================================================================


// Images
// ==========================================================================

.img-responsive
  max-width: 100%
  height: auto
  display: inline-block
  *zoom: 1


// Text
// ==========================================================================

.txt-hidden
  font: 0/0 a
  text-shadow: none
  color: transparent

.txt-offset
  text-indent: -9999px

// Text Layout:

.txt-left
  text-align: left

.txt-center,
.center-children *
  text-align: center

.txt-right
  text-align: right

// Borders
// ==========================================================================

.brd-none
  border: 0 !important

.brd-tb-none
  border-top: 0 !important
  border-bottom: 0 !important

.brd-lr-none
  border-left: 0 !important
  border-right: 0 !important

.brd-thin
  border-weight: 1px

.brd-light
  border-weight: 2px

.brd-medium
  border-weight: 3px

.brd--large
  border-weight: 5px


// Layout Helpers
// ==========================================================================

.show,
.block
  display: block !important

.inline
  display: inline

.inline-block
  display: inline-block

.hidden
  display: none !important
  visibility: hidden !important

.invisible
  visibility: hidden !important

// Clear fix for floated elements

.clearfix
  @extend %clearfix


// Floats
// ==========================================================================

.pull-left
  float: left !important

.pull-right
  float: right !important


// Padding Overrides
// ==========================================================================

.pad

  &-sm
    +padding(10)

  &-md
    +padding(20)

  &-lg
    +padding(30)

  &-none
    +padding(0)

  &-tb-none
    +padding-position(top, 0)
    +padding-position(bottom, 0)

  &-lr-none
    +padding-position(left, 0)
    +padding-position(right, 0)

// ---- Top ----

.pad-top

  &-sm
    +padding-position(top, 10)

  &-md
    +padding-position(top, 20)

  &-lg
    +padding-position(top, 30)

// ---- Bottom ----

.pad-bottom

  &-sm
    +padding-position(bottom, 10)

  &-md
    +padding-position(bottom, 20)

  &-lg
    +padding-position(bottom, 30)

// ---- Left ----

.pad-left

  &-sm
    +padding-position(left, 10)

  &-md
    +padding-position(left, 20)

  &-lg
    +padding-position(left, 30)

// ---- Right ----

.pad-right

  &-sm
    +padding-position(right, 10)

  &-md
    +padding-position(right, 20)

  &-lg
    +padding-position(right, 30)


// Margin Overrides
// ==========================================================================

.mrg

  &-sm
    +margin(10)

  &-md
    +margin(20)

  &-lg
    +margin(30)

  &-none
    +margin(0)

// ---- Top ----

.mrg-top

  &-sm
    +margin-position(top, 10)

  &-md
    +margin-position(top, 20)

  &-lg
    +margin-position(top, 30)

// ---- Bottom ----

.mrg-bottom

  &-sm
    +margin-position(bottom, 10)

  &-md
    +margin-position(bottom, 20)

  &-lg
    +margin-position(bottom, 30)

// ---- Left ----

.mrg-left

  &-sm
    +margin-position(left, 10)

  &-md
    +margin-position(left, 20)

  &-lg
    +margin-position(left, 30)

// ---- Right ----

.mrg-right

  &-sm
    +margin-position(right, 10)

  &-md
    +margin-position(right, 20)

  &-lg
    +margin-position(right, 30)


// ---- Top Bottom Combo ----

.mrg-tb

  &-sm
    +margin-position(top, 10)
    +margin-position(bottom, 10)

  &-md
    +margin-position(top, 20)
    +margin-position(bottom, 20)

  &-lg
    +margin-position(top, 30)
    +margin-position(bottom, 30)

  &-none
    +margin-position(top, 0)
    +margin-position(bottom, 0)

// ---- Left Right Combo ----

.mrg-lr

  &-sm
    +margin-position(left, 10)
    +margin-position(right, 10)

  &-md
    +margin-position(left, 20)
    +margin-position(right, 20)

  &-lg
    +margin-position(left, 30)
    +margin-position(right, 30)

  &-none
    +margin-position(left, 0)
    +margin-position(right, 0)
